---
layout: base
title: How Cognitive Biases Shape Product Design — The Science of Decision-Making
description: Understand the psychological tendencies that influence how people perceive, think about, and make decisions, and use that knowledge to create more effective and engaging products.
permalink: cognitive-biases-explained/
thumbnail: /assets/images/sm-biases.png
price: $19
paymentLink: https://buy.stripe.com/28oaFH5MO7Jd7ug28b
---

<section class="
    mx-auto sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-6xl 
    mt-12 md:mt-20 lg:mt-32 px-6 sm:px-8 lg:px-0 
    ">
    <hgroup class="text-center">
        <h1 class="text-display-lg">How Cognitive Biases Shape Product Design</h1>
        <p class="mt-10 text-caption font-bold uppercase tracking-widest">
            <span class="text-transparent bg-clip-text bg-gradient-to-r from-accent to-primary">
                The Science of Decision-Making
            </span>
        </p>
        <p class="mx-auto mt-10 max-w-xl">Understand the psychological tendencies that influence how people perceive, think about, and make decisions, and use that knowledge to create more effective and engaging products.</p>
    </hgroup>
    <figure class="mt-12 lg:mt-16 mx-auto max-w-md relative">
        <div class="overflow-hidden flex justify-center border-b-2 border-neutral-weakest">
            <img src="/assets/images/inbox.png" alt="Inbox" class="w-8/12 md:w-9/12 xl:w-10/12 drop-shadow">
        </div>
        <svg class="absolute -bottom-[60px] left-1/3 lg:-bottom-[90px] lg:h-[140px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 117" height="117" fill="var(--color-primary)" >
            <path d="M87.944 21.207c-14.24-5.421-30.812-.622-41.632 9.503-13.466 12.598-18.337 31.39-18.71 49.297-.212 10.2.912 20.386 2.387 30.476.378 2.594-3.601 3.681-3.995 1.056-2.843-19.11-4.623-39.054 1.573-57.68 5.61-16.862 17.632-31.88 35.425-36.496 8.503-2.208 17.626-1.525 25.632 2.182.924.424.283 2.027-.68 1.662Z"/>
            <path d="M24.867 111.526c-2.88-3.287-5.905-6.494-9.093-9.484-3.2-2.998-6.694-5.686-9.798-8.775-1.193-1.19.335-3.164 1.798-2.325 7.677 4.411 13.924 12.051 18.777 19.311.665 1.005-.885 2.187-1.684 1.273Zm2.635-2.844c3.75-6.457 8.819-12.616 15.284-16.508 1.351-.811 2.407 1.2 1.194 2.085-5.963 4.35-11.374 8.83-15.67 14.895-.336.476-1.113.055-.808-.472Z"/>
        </svg>
    </figure>
</section>
<section class="
    mx-auto max-w-lg md:max-w-xl 
    mt-20 lg:mt-32 xl:mt-40 px-6 sm:px-8 lg:px-0 
    ">
    <hgroup class="text-center lg:col-span-7">
        <h2 class="text-display">Made for you on your own pace</h2>
        <p class="mt-1">21 emails delivered weekly to your inbox.</p>
        <p class="mt-8">
            <a href="{{ paymentLink }}" class="inline-flex gap-3 justify-center items-center px-8 py-3 font-medium text-neutral bg-neutral-strong border border-neutral-strong rounded-full shadow-sm transition hover:text-neutral-strong hover:bg-transparent">
                Start Today {{ price }}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" fill="none" class="w-5 h-5">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H4.75"></path>
                </svg>
            </a>
        </p>
        <ul class="mt-3 text-caption text-neutral-medium text-center space-y-1">
            <li><b>One-time payment. No subscription</b></li>
            <li class="inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" fill="none" class="md:w-5 md:h-5">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.75 11.75C5.75 11.1977 6.19772 10.75 6.75 10.75H17.25C17.8023 10.75 18.25 11.1977 18.25 11.75V17.25C18.25 18.3546 17.3546 19.25 16.25 19.25H7.75C6.64543 19.25 5.75 18.3546 5.75 17.25V11.75Z"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7.75 10.5V10.3427C7.75 8.78147 7.65607 7.04125 8.74646 5.9239C9.36829 5.2867 10.3745 4.75 12 4.75C13.6255 4.75 14.6317 5.2867 15.2535 5.9239C16.3439 7.04125 16.25 8.78147 16.25 10.3427V10.5"></path>
                </svg>
                Secured by Stripe
            </li>
        </ul>
    </hgroup>
    <hr class="mx-16 my-4 border-neutral-weak border-dashed">
     <p class="text-caption text-neutral-medium text-center">If you've been laid off recently, I feel you ♥️<br> Use the code <b>BACKINTHEGAME</b> for a 50% discount</p>
    </hgroup>
</section>
<section class="
    mx-auto max-w-lg md:max-w-xl lg:max-w-4xl xl:max-w-6xl 
    mt-20 lg:mt-32 xl:mt-40 px-6 sm:px-8 lg:px-0  
    ">
    <div class="mt-8 lg:mt-16 grid grid-cols-1 lg:grid-cols-6 xl:grid-cols-5 gap-2">
        <div class="lg:col-span-4 xl:col-span-3 px-10 sm:px-12 xl:px-16 pt-[40%] lg:pt-[36%] pb-12 text-neutral bg-[#0E142A] bg-[url('/assets/images/raz.jpg')] bg-full bg-no-repeat bg-top rounded dark:text-neutral-strong">
            <p><span class="text-accent">I'm Raz Tirboaca, designer getting things done in sunny Barcelona.</span> Since 2004, I’ve worked in both startups and large product-led companies. I’ve spent the first ten years of my career learning the hard skills. In the last eight, I’ve studied cognitive psychology to understand how people think and make decisions—the science behind designing <i>engaging</i> products.</p>
        </div>
        <div class="lg:col-span-2 xl:col-span-2 px-10 sm:px-12 xl:px-16 py-12 flex flex-col justify-center bg-neutral-weakest rounded">
            <p class="text-lead">An engaging product is one that is able to <b>draw the user in</b> and keep them engaged, and that provides them with a positive and rewarding experience.</p>
        </div>
        <div class="lg:col-span-2 xl:col-span-2 px-10 sm:px-12 xl:px-16 py-12 flex flex-col justify-center bg-neutral-weakest rounded">
            <p class="text-lead">Cognitive biases are <b>errors in our thinking</b> that occur when we interpret information and make decisions.</p>
        </div>
        <div class="lg:col-span-4 xl:col-span-3 px-10 sm:px-12 xl:px-16 py-12 bg-neutral-weakest rounded">
            <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 gap-4">
                <ol class="text-caption divide-y divide-neutral-weak">
                    <li class="py-1"><span class="font-serif font-bold uppercase tracking-widest">Social</span></li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#01</span> False Consensus Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#02</span> Halo Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#03</span> Bandwagon Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#04</span> Availability Heuristic</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#05</span> Groupthink</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#06</span> In-group Favoritism</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#07</span> Spotlight Effect</li>
                </ol>
                <ol class="text-caption divide-y divide-neutral-weak">
                    <li class="py-1"><span class="font-serif font-bold uppercase tracking-widest">Beliefs</span></li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#08</span> False Consensus Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#09</span> Halo Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#10</span> Bandwagon Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#11</span> Availability Heuristic</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#12</span> a</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#13</span> a</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#14</span> a</li>
                </ol>
                <ol class="text-caption divide-y divide-neutral-weak">
                    <li class="py-1"><span class="font-serif font-bold uppercase tracking-widest">Economic</span></li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#15</span> False Consensus Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#16</span> Halo Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#17</span> Bandwagon Effect</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#18</span> Availability Heuristic</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#19</span> a</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#20</span> a</li>
                    <li class="py-1 line-clamp-1"><span class="mr-1 text-neutral-medium">#21</span> a</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="
    mx-auto max-w-lg md:max-w-xl lg:max-w-4xl xl:max-w-6xl 
    mt-20 lg:mt-32 xl:mt-40 px-6 sm:px-8 lg:px-0 
    ">
    <hgroup class="text-center">
        <h2 class="text-display">Clearly explained</h2>
    </hgroup>
    <div class="mt-8 lg:mt-12 px-10 sm:px-12 xl:px-16 py-12 lg:py-20 bg-neutral-weakest rounded">
        <div class="mx-auto max-w-3xl">
            <h3 class="text-heading-lg">#0: Anchoring Effect</h3>
            <p class="my-6 text-lead">We rely heavily on the first piece of information (the ”anchor”) introduced when making decisions.</p>
            <div class=" 
                max-w-none 
                prose prose-neutral 
                prose-h2:text-heading-lg 
                prose-h3:text-heading-md
                prose-h4:text-heading
                prose-p:text-body 
                prose-ul:text-body 
                prose-ol:text-body 
                prose-a:underline prose-a:underline-offset-2 prose-a:decoration-neutral-medium hover:prose-a:decoration-primary 
                prose-blockquote:not-italic 
                prose-hr:border-dashed 
                prose-img:shadow prose-img:rounded dark:prose-img:shadow-none dark:prose-img:opacity-80  
                prose-figcaption:mt-2 prose-figcaption:px-3 prose-figcaption:text-center 
            ">
                <p>Imagine you’re out shopping for a gift. You find a pair of sunglasses that you know they’d love. But they cost $100—way more than your budget. Right besides it, you see this necklace for $80 -- still more than your budget -- but hey, it’s cheaper than the sunglasses. You buy the necklace instead, right?</p>
                <h4>Why?</h4>
                <p>Anchoring bias is one of the most robust effects in psychology. Many studies have confirmed its effects, and shown that we can often become anchored by values that aren’t even relevant to the task at hand. In one study, for example, people were asked for the last two digits of their social security number. Next, they were shown a number of different products, including things like computer equipment, bottles of wine, and boxes of chocolate. For each item, participants indicated whether they would be willing to pay the amount of money formed by their two digits. For example, if somebody’s number ended in 34, they would say whether or not they would pay $34 for each item. After that, the researchers asked what the maximum amount was that the participants would be willing to pay.</p>
                <p>Even though somebody’s social security number is nothing more than a random series of digits, those numbers had an effect on their decision making. People whose digits amounted to a higher number were willing to pay significantly more for the same products, compared to those with lower numbers. Anchoring bias also hold up when anchors are obtained by rolling some dice or spinning a wheel, and when researchers remind people that the anchor is irrelevant.</p>
                <h4>Examples</h4>
                <p><b><strike>$20</strike> $8 for Twitter Blue</b>. Lots of people thought that Elon Musk didn‘t know what he’s doing. That he was making up strategy on-the-fly and iterating in public. Well, not really!</p>
                <img src="/assets/images/biases/anchoring-1.jpg" alt="Elon Musk" class="max-w-lg">
                <p>He applied the <b>anchoring effect</b> and swung for the fences:</p>
                <ol>
                    <li><b>Set the anchoring.</b> Announced Twitter Blue for $20</li>
                    <li><b>Exposed the information.</b> People started to complain</li>
                    <li><b>Played the effect.</b> Introduced the <i>real</i> price of $8</li>
                    <li><b>Won on his terms.</b> People chilled and agreed that it is a <i>fair</i> price to pay</li>
                </ol>
                <hr>
            </div>
        </div>
</section>
<section class="
    mx-auto max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 
    px-6 sm:px-8 lg:px-0 py-12 md:py-20 lg:py-32 
    ">
    <hgroup class="text-center">
        <h2 class="text-display">FAQ</h2>
    </hgroup>
    <ol class="mt-10 space-y-10">
        <li class="relative grid auto-rows-2 grid-cols-[minmax(12%,_70px)_1fr] gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" width="80" class="w-20 absolute -z-10 pointer-events-none rounded-full">
                <rect x="0" y="0" width="120" height="120" fill="var(--color-neutral)"></rect>
                <path d="M67 0L86 0L86 20L68 20L68 40L85 40L85 60L99 60L99 80L63 80L63 100L81 100L81 120L0 120L0 100L0 100L0 80L0 80L0 60L0 60L0 40L0 40L0 20L0 20L0 0L0 0Z" fill="var(--color-neutral-weakest)" />
                <path d="M43 0L40 0L40 20L34 20L34 40L58 40L58 60L30 60L30 80L42 80L42 100L53 100L53 120L0 120L0 100L0 100L0 80L0 80L0 60L0 60L0 40L0 40L0 20L0 20L0 0L0 0Z" fill="var(--color-neutral-weak)" />
            </svg>
            <b class="row-start-1 col-start-1 pl-8 pt-6 font-serif">{{ loop.index }}</b>
            <h2 class="row-start-1 col-start-2 font-bold">
                <a href="{{ bias.url }}" class="
                    pt-6 pb-2
                    flex items-center gap-2 
                    underline underline-offset-2 decoration-neutral-medium hover:decoration-primary">
                    {{ bias.data.title }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" fill="none" class="w-5 h-5">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 12H4.75"></path>
                    </svg>
                </a>
            </h2>
            <p class="row-start-2 col-start-2">{{ bias.data.description }}</p>
        </li>
    </ol>
</section>