---
layout: base
title: ”From Theory to Practice – Mastering the Psychology of Engagement” Email Course
description: Understand the psychological tendencies that influence how people <b>think</b> and <b>make decisions</b> to create engaging products right away.
permalink: cognitive-biases-explained/
thumbnail: /assets/images/sm-biases.png
price: $19
paymentLink: https://buy.stripe.com/28oaFH5MO7Jd7ug28b
---

<section class="mt-12 px-6 sm:px-0 grid">
    <p class="mx-auto sm:max-w-md px-6 py-2 text-center text-caption text-neutral-medium bg-neutral-weakest rounded">
        If you're between jobs - use <b>BACKINTHEGAME</b> for 50% off.
    </p>
</section>

<section class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl mt-12 md:mt-20 px-6 sm:px-0 grid lg:grid-cols-12 gap-10 lg:items-end">
    <hgroup class="space-y-8 lg:pb-16 text-center lg:text-left lg:items-start lg:col-span-7 xl:col-span-8">
        <p class="uppercase tracking-widest">
            <b class="text-transparent bg-clip-text bg-gradient-to-r from-accent to-primary">
                From Theory to Practice
            </b>
        </p>
        <h1 class="font-serif text-display-lg">Mastering the Psychology of Engagement</h1>
        <p class="max-w-2xl">Understand the cognitive biases that influence how <span class="text-hightlight">people think</span> and <span class="text-hightlight">make decisions</span> to create engaging products right away. A 21-part email course directly to your inbox.</p>
        <p class="inline-flex flex-col gap-2">
            <a href="{{ paymentLink }}" class="flex-none inline-flex gap-3 justify-center items-center px-8 py-3 font-medium text-neutral bg-neutral-strong border border-neutral-strong rounded shadow-sm transition hover:text-neutral-strong hover:bg-transparent">
                Start Today {{ price }}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" fill="none" class="w-5 h-5">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H4.75"></path>
                </svg>
            </a>
            <span class="flex-none inline-flex gap-1 text-caption text-neutral-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" fill="none" class="md:w-5 md:h-5">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.75 11.75C5.75 11.1977 6.19772 10.75 6.75 10.75H17.25C17.8023 10.75 18.25 11.1977 18.25 11.75V17.25C18.25 18.3546 17.3546 19.25 16.25 19.25H7.75C6.64543 19.25 5.75 18.3546 5.75 17.25V11.75Z"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7.75 10.5V10.3427C7.75 8.78147 7.65607 7.04125 8.74646 5.9239C9.36829 5.2867 10.3745 4.75 12 4.75C13.6255 4.75 14.6317 5.2867 15.2535 5.9239C16.3439 7.04125 16.25 8.78147 16.25 10.3427V10.5"></path>
                </svg>
                One-time payment secured by Stripe
            </span>
        </p>
    </hgroup>
    <figure class="lg:col-span-5 xl:col-span-4">
        <div class="overflow-hidden flex justify-center border-b border-neutral-weakest">
            <img src="/assets/images/inbox.png" alt="Inbox" class="w-3/4 sm:w-1/2 lg:w-11/12 xl:w-10/12 drop-shadow">
        </div>
    </figure>
</section>
<section class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-6xl mt-12 md:mt-20 px-6 sm:px-0">
    <div class="grid lg:grid-cols-12 gap-2">
        <div class="lg:col-span-5 p-10 md:p-14 flex flex-col justify-between border border-neutral-weak rounded">
            <h2 class="text-heading-md">
                Learn how to create products <span class="text-neutral-medium">that capture users' attention.</span>
            </h2>
            <p class="mt-8">Keep them engaged.</p>
        </div>
        <div class="lg:col-span-7 p-10 md:p-14 border border-neutral-weak rounded">
            <figure class="flex items-center gap-4">
                <img src="/assets/images/raz.jpg" alt="Raz Tirboaca" class="w-16 h-16 rounded-full">
                <figcaption class="flex-none font-cursive font-normal text-display text-primary -rotate-2">Hello!</figcaption>
            </figure>
            <p class="mt-8">I'm Raz Tirboaca, multidisciplinary designer getting things done in sunny Barcelona. Since 2004, I’ve worked in both startups and large product-led companies. I’ve spent the first ten years of my career learning the hard skills. In the last eight, I’ve studied cognitive psychology to understand how people think and make decisions—learning the science behind designing <i>engaging</i> products.</p>
        </div>
    </div>
</section>
<section class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl mt-20 md:mt-32 px-6 sm:px-0">
    <p class="text-caption uppercase tracking-widest">
        <b class="text-transparent bg-clip-text bg-gradient-to-r from-accent to-primary">
            Product managers, UX designers and writers:
        </b>
    </p>
    <h3 class="mt-8 font-serif text-display">Take control of your product outcomes</h3>
    <hr class="mt-8 w-16 border-t-2 border-primary">
    <p class="mt-8">Put psychological insights into action, step by step. With clear explanations, real-world examples, and practical strategies, you'll get everything you need to design more engaging user experiences and make better product decisions.</p>
    <p class="mt-8">Understanding how people think and make decisions will level up your day-to-day impact, and will set you up for success within your team by communicating clearer and presenting better. Get promoted this quarter!</p>
    <h3 class="mt-16 font-serif text-heading-md">Summary</h3>
    <p class="mt-1">One email per week—21 in total. Go at your own pace.</p>
    <div class="mt-8 space-y-4">
        <ol class="space-y-2">
            {% for bias in biases %}
            <li class="flex flex-nowrap items-center gap-3 sm:gap-5">
                <span class="flex-none w-8 text-right text-neutral-medium">#{{ loop.index }}</span> 
                <span class="flex-none">{{ bias.title }}</span>
                <span class="w-full border-t border-dashed border-neutral-weak"></span>
                <span class="flex-none text-neutral-medium">{{ bias.duration }} min</span>
            </li>
            {% endfor %}
        </ol>
    </div>
</section>
<section class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl mt-16 px-6 sm:px-0">
    <h3 class="font-serif text-heading-md">Preview</h3>
    <p class="mt-1">Real-world examples, actionable takeaways.</p>
</section>
<section class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-4xl mt-8 p-2 bg-neutral-weakest rounded">
    <article class="px-6 pt-6 md:px-12 bg-neutral border border-neutral-weak rounded">
        <header class="border-b border-neutral-weak">
            <h4 class="text-heading flex flex-nowrap items-center gap-3">
                Bias #0: Anchoring effect 
                <span class="px-2 py-[2px] font-normal text-caption text-neutral-medium bg-neutral-weakest rounded">Inbox</span>
            </h4>
            <div class="my-3 flex flex-nowrap items-center gap-3">
                <img src="/assets/images/icon.png" alt="Makers Mansion icon" width="40" class="w-10 h-10 flex-none rounded-full">
                <div class="flex-1">
                    <h3 class="text-caption flex flex-nowrap gap-2">
                        <b class="font-bold">Makers Mansion</b>
                        <span class="text-neutral-medium">Today</span>
                    </h3>
                    <p class="text-caption text-neutral-medium leading-none flex flex-nowrap items-center">
                        to me
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" fill="currentColor">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15.25 10.75L12 14.25L8.75 10.75"></path>
                        </svg>
                    </p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" fill="none" class="mt-auto">
                    <path stroke="var(--color-neutral-medium)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 4.75L13.75 10.25H19.25L14.75 13.75L16.25 19.25L12 15.75L7.75 19.25L9.25 13.75L4.75 10.25H10.25L12 4.75Z"></path>
                </svg>
            </div>
        </header>
        <main class=" 
            max-w-none h-[556px] max-h-[60vh]
            py-8 
            overflow-auto
            prose prose-neutral 
            prose-h2:text-heading-lg 
            prose-h3:text-heading-md
            prose-h4:text-heading
            prose-p:text-caption 
            prose-ul:text-caption 
            prose-ol:text-caption 
            prose-a:underline prose-a:underline-offset-2 prose-a:decoration-neutral-medium hover:prose-a:decoration-primary 
            prose-blockquote:not-italic 
            prose-hr:border-dashed 
            prose-img:shadow prose-img:rounded dark:prose-img:shadow-none dark:prose-img:opacity-80  
            prose-figcaption:mt-2 prose-figcaption:px-3 prose-figcaption:text-center 
        ">
            <p>We rely heavily on the first piece of information introduced. It acts as an “anchor” that influences our subsequent judgments and decision-making.</p>
            <blockquote>
                <p>Imagine you’re out shopping for a gift. You find a pair of sunglasses that you know they’d love. But they cost $100—way more than your $60 budget. Right beside it, you see this necklace for $80 -- still more than your budget -- but hey, it’s cheaper than the sunglasses. You buy the necklace instead, right?</p>
            </blockquote>
            <p>This bias influences our thinking and behavior by making it difficult for us to consider other options or alternatives, and by limiting the range of information that we consider when making a decision.</p>
            <p>The reason why our brain uses this mental shortcut is to save time and cognitive effort. Rather than evaluating every piece of information we receive and considering all the possible options and alternatives, our brain uses the initial information as a starting point and focuses on the options and alternatives that are most relevant or related to the ‘anchor’. It helps us make decisions faster, but also leads to errors.</p>
            <p>Propaganda, for examples, is based on the anchoring effect at its root.</p>
            <h4>Product experiences</h4>
            <ul>
                <li>A search engine that always shows the same results first anchors the user's decision and influence their choices. If the search engine consistently shows the most popular or relevant results first, leads users to believe that those are the best or only options, even if there are other relevant and useful results available.</li>
                <li>Smartphones come with a set of default settings that are automatically applied when the product is first used. These default settings anchor the user's decision-making and behavior, making it difficult for them to consider alternative settings or configurations.</li>
                <li>A fitness app that provides users with a default daily step goal anchors their behavior and influence their activity levels. If the default goal is too high or too low, leads users users to either over or underestimate their ability, and potentially lead to frustration or disappointment.</li>
                <li>An online shopping platform that always shows the same product first, or that always recommends the most expensive option first, anchors the user's decision and influences their choices. Leads users to believe that the recommended option is the best or only option, even if there are cheaper and equally good alternatives available.</li>
            </ul>
            <h4>Takeaways</h4>
            <p>Let the takeaways flow...</p>
        </main>
    </article>
    <div class="my-8 text-center ">
        <p class="inline-flex flex-col gap-2">
            <a href="{{ paymentLink }}" class="flex-none inline-flex gap-3 justify-center items-center px-8 py-3 font-medium text-neutral bg-neutral-strong border border-neutral-strong rounded shadow-sm transition hover:text-neutral-strong hover:bg-transparent">
                Start Today {{ price }}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" fill="none" class="w-5 h-5">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H4.75"></path>
                </svg>
            </a>
            <span class="flex-none inline-flex gap-1 text-caption text-neutral-medium">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" fill="none" class="md:w-5 md:h-5">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.75 11.75C5.75 11.1977 6.19772 10.75 6.75 10.75H17.25C17.8023 10.75 18.25 11.1977 18.25 11.75V17.25C18.25 18.3546 17.3546 19.25 16.25 19.25H7.75C6.64543 19.25 5.75 18.3546 5.75 17.25V11.75Z"></path>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7.75 10.5V10.3427C7.75 8.78147 7.65607 7.04125 8.74646 5.9239C9.36829 5.2867 10.3745 4.75 12 4.75C13.6255 4.75 14.6317 5.2867 15.2535 5.9239C16.3439 7.04125 16.25 8.78147 16.25 10.3427V10.5"></path>
                </svg>
                One-time payment secured by Stripe
            </span>
        </p>
    </div>
</section>

<section class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl my-20 md:my-32 px-6 sm:px-0">
    <h3 class="font-serif text-display">FAQ</h3>
    <hr class="mt-8 w-16 border-t-2 border-primary">
    <ul class="mt-8 divide-y divide-neutral-weak">
        <li class="py-4">
            <h4 class="">What is the email course about?</h4>
            <p class="mt-1 text-neutral-medium">The email course is a series of lessons delivered to your inbox that covers a specific topic in depth. The course will provide you with the knowledge and skills you need to succeed in the subject area.</p>
        </li>
        <li class="py-4">
            <h4 class="">How long does the course take to complete?</h4>
            <p class="mt-1 text-neutral-medium">The length of the course will vary depending on the topic and the depth of the material covered. However, most courses can be completed within a few weeks to a few months.</p>
        </li>
        <li class="py-4">
            <h4 class="">How will I receive the course material?</h4>
            <p class="mt-1 text-neutral-medium">The course material will be delivered to your email inbox on a regular basis. Each lesson will include a mix of text, images, and videos to help you learn the material effectively.</p>
        </li>
        <li class="py-4">
            <h4 class="">Is the course self-paced or do I have to complete it within a certain time frame?</h4>
            <p class="mt-1 text-neutral-medium">The course is self-paced, so you can complete the lessons at your own pace. There is no time limit for finishing the course, so you can take as long as you need to learn the material.</p>
        </li>
        <li class="py-4">
            <h4 class="">How much does the course cost?</h4>
            <p class="mt-1 text-neutral-medium">The cost of the course will vary depending on the topic and the length of the material. You can find the current price for the course on the course sales page.</p>
        </li>
        <li class="py-4">
            <h4 class="">How do I pay for the course?</h4>
            <p class="mt-1 text-neutral-medium">Payment for the course can be made using Stripe, a secure online payment processor. You can use a credit or debit card to make your payment.</p>
        </li>
        <li class="py-4">
            <h4 class="">Is there a money-back guarantee?</h4>
            <p class="mt-1 text-neutral-medium">Yes, we offer a money-back guarantee for the course. If you are not satisfied with the course, you can request a full refund within the first 30 days of your purchase.</p>
        </li>
        <li class="py-4">
            <h4 class="">Can I access the course material after I complete the course?</h4>
            <p class="mt-1 text-neutral-medium">Yes, you will have access to the course material even after you complete the course. You can review the material at any time to refresh your knowledge and skills.</p>
        </li>
        <li class="py-4">
            <h4 class="">Do I need any special equipment or software to take the course?</h4>
            <p class="mt-1 text-neutral-medium">No, you do not need any special equipment or software to take the course. All you need is a computer with an internet connection and an email account.</p>
        </li>
        <li class="py-4">
            <h4 class="">Is there support available if I need help with the course material?</h4>
            <p class="mt-1 text-neutral-medium"> text-neutral-mediumYes, we offer support for the course through email. You can contact us with any questions or concerns you have about the material, and we will be happy to help.</p>
        </li>
    </ul>
</section>
