---
layout: base
title: Successfully subscribed to the ”The Product Engagement Blueprint” Email Course
description: Learn how to capture users' attention and keep them engaged with psychological insights that drive engagement—a course delivered to your inbox.
permalink: products/the-product-engagement-blueprint/subscribed/
---

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
var end = Date.now() + (5 * 1000);

var colors = ['#e21d48', '#f5a300'];

(function frame() {
  confetti({
    particleCount: 2,
    angle: 60,
    spread: 55,
    origin: { x: 0 },
    colors: colors
  });
  confetti({
    particleCount: 2,
    angle: 120,
    spread: 55,
    origin: { x: 1 },
    colors: colors
  });

  if (Date.now() < end) {
    requestAnimationFrame(frame);
  }
}());
</script>

<section class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl mt-12 md:mt-20 px-6 sm:px-0">
    <h1 class="font-serif text-heading-lg">Payment successful</h1>
    <hr class="mt-6 md:mt-8 w-12">
    <p class="mt-6 md:mt-8">Thank you for buying “The Product Engagement Blueprint” email course.</p>
    <figure class="mt-10 lg:mt-12">
        <div class="overflow-hidden flex justify-center border-b border-neutral-weakest">
            <img src="/assets/images/products/biases/inbox.png" alt="inbox screenshot" class="w-2/5 drop-shadow">
        </div>
    </figure>
    <p class="mt-8">To get started, keep an eye on your inbox for the first lesson. You will receive a total of 21 emails – one per week on Wednesdays – over the next four months. If you are not satisfied with the course, please reply to any email within the next two weeks and request a full refund. I want you to be happy with this purchase and gain tremendous value from it. I would love to hear your feedback and will reach out to you next month.</p>
    <p class="mt-8">If you have any additional questions or need support, please don’t hesitate to contact me on <a href="https://twitter.com/razvantirboaca" target="_blank"class="text-neutral-strong underline underline-offset-2 decoration-neutral-medium transition-all hover:decoration-primary" title="Contact me on Twitter">Twitter</a> or  <a href="https://www.linkedin.com/in/razvantirboaca/" target="_blank" class="text-neutral-strong underline underline-offset-2 decoration-neutral-medium transition-all hover:decoration-primary" title="Contact me on Linkedin">LinkedIn</a>. I am here to help you get the most out of it and am happy to answer any questions you may have.</p>
    <p class="mt-8">Wish you a great week ahead,<br>Raz</p>
</section>
