
{# Favicon #}
<link rel="mask-icon" sizes="any" href="{{ '/assets/images/favicon/favicon-192x192-maskable.png' | url }}" color="#E11D48">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}">