{
  "singleQuote": false,
  "bracketSameLine": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 130,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
