---
layout: base
eleventyNavigation:
    key: Newsletter
    order: 20
title: Makers Newsletter
description: Join our community of over 600 makers and get a weekly summary of the best resources to move things forward. Highly relevant for product managers, designers, writers, and engineers.
---

<section id="subscribe" class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-4xl mt-8 md:mt-20 px-6 sm:px-0">
    <div class="max-w-2xl">
        <h1 class="font-serif text-heading-lg">Makers Newsletter</h1>
        <p class="mt-2 text-neutral-medium">Join our community of over 600 makers and get a weekly summary of the best resources to move things forward. Highly relevant for product managers, designers, writers, and engineers.</p>
        <form action="https://xyz.us11.list-manage.com/subscribe/post?u=6dc0c39e37a97ab5a03b51343&amp;id=5c2e4bb0d0" method="post" class="mt-4 md:mt-6 w-full max-w-lg inline-flex flex-nowrap gap-1">
            <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Type your email..." required class="flex-1 px-4 py-2 text-[16px] text-neutral-strong bg-neutral border border-neutral-weak focus:border-neutral-strong focus:outline-none focus:ring-0 rounded">
            <button type="submit" name="subscribe" class="flex-none px-4 py-2 font-medium text-neutral bg-neutral-strong border border-neutral-strong rounded transition hover:text-neutral-strong hover:bg-transparent">
                Subscribe
            </button>
        </form>
    </div>
    <hr class="mt-8 mb-4 md:mt-12 md:mb-9 border-neutral-weak">
    <div>
        {% for edition in collections.newsletter | reverse %}
            <article>
                <a href="{{ edition.url }}" class="py-4 md:p-6 flex gap-4 items-start rounded group md:hover:bg-neutral-weakest">
                    <img src="{% if edition.data.thumbnail %}{{ edition.data.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}" class="w-24 aspect-auto object-cover rounded-sm dark:opacity-80">
                    <header>
                        <h2 class="font-bold underline underline-offset-2 decoration-neutral-medium transition group-hover:decoration-primary">
                            {{ edition.data.title }}
                        </h2>
                        <time datetime="{{ date | dateToISO }}" pubdate="pubdate" class="text-caption text-neutral-medium">
                            {{ edition.data.date | readableDate('dd LLL yyyy') }}
                        </time>
                    </header>
                </a>
            </article>
        {% endfor %}
    </div>
</section>