---
layout: base
title: Successfully subscribed
description: You've successfully subscribed to Makers Newsletter.
---

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
var end = Date.now() + (3 * 1000);
var colors = ['#e21d48', '#f5a300'];

(function frame() {
    confetti({
        particleCount: 2,
        angle: 60,
        spread: 55,
        origin: { x: 0 },
        colors: colors
    });
    confetti({
        particleCount: 2,
        angle: 120,
        spread: 55,
        origin: { x: 1 },
        colors: colors
    });

    if (Date.now() < end) {
        requestAnimationFrame(frame);
    }
}());
</script>

<section class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl mt-8 md:mt-20 px-6 sm:px-0">
    <h1 class="font-serif text-heading-lg">Welcome to the Masion!</h1>
    <hr class="mx-auto mt-6 md:mt-8 w-12 border-t-2 border-neutral-weak">
    <p class="mt-6 md:mt-8">You subscribed successfully, maker. Watch your inbox every Sunday, just in time for ☕️</p>
    <p class="mt-12 text-center">
        <a href="{{ '/newsletter/' | url }}" class="inline-flex items-center gap-2 font-bold underline underline-offset-2 decoration-neutral-medium transition hover:decoration-primary">
            Read the latest edition
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" fill="none" class="w-5 h-5">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H4.75"></path>
            </svg>
        </a>
    </p>
</section>