<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    {% include 'meta.njk' %}
    <script>{% include 'initialtheme.njk' %}</script>
</head>
<body class="antialiased text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <a href="#main" class="sr-only">skip to main content</a>
    <header class="container mx-auto max-w-2xl mb-8 py-6">
        <h1 class="font-extrabold text-center text-rose-600 dark:text-rose-400">MAKERS MANSION</h1>
    </header>
    <main id="main" class="container mx-auto max-w-2xl" role="main">

        <div class="flex flex-col items-center gap-3 mb-8">
            <img class="w-14 rounded-full" src="assets/images/raz.jpg">
            <div class="flex-1 text-center">
                <h4 class="font-bold text-lg">Welcome to the Mansion!</h4>
                <p class="text-gray-500">I'm Raz and each week I publish resources for people who build online products.</p>
            </div>
        </div>

        {{content | safe }}
    </main>

    {% include 'footer.njk' %}

    <script src="{{ '/assets/js/main.js' | url }}" defer></script>
</body>
</html>