---
layout: base
---
{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}

<p class="mb-24 font-serif text-lg leading-relaxed md:text-xl md:leading-relaxed font-bold">
    <a href="/cognitive-biases/" class="flex items-center gap-2 underline underline-offset-2 decoration-neutral-medium hover:decoration-primary">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" fill="none" class="w-6 h-6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
        </svg>
        42 Biases
    </a>
</p>


<article class="max-w-none mb-20">

    <header>
        <h1 class="font-serif text-2xl leading-normal md:text-3xl md:leading-snug xl:text-4xl xl:leading-snug font-bold">{{ title }}</h1>
        <div class="mt-2 flex flex-nowrap items-center gap-3 sm:gap-5 text-xs md:text-sm uppercase text-neutral-medium tracking-widest">
            {% for tag in tags %}
            <span class="flex items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" fill="none" class="w-5 h-5">
                    <circle cx="15" cy="9" r="1" fill="currentColor"></circle>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 4.75H19.25V12L12.5535 18.6708C11.7544 19.4668 10.4556 19.445 9.68369 18.6226L5.28993 13.941C4.54041 13.1424 4.57265 11.8895 5.36226 11.1305L12 4.75Z"></path>
                </svg>
                {{ tag }}
            </span>
            {% endfor %}
        </div>
        <p class="mt-10 text-lg md:text-xl">{{ description }}</p>
    </header>

    <div class="
    mt-4 max-w-none 
    prose prose-neutral md:prose-lg 
    prose-h1:font-serif prose-h1:font-bold prose-h1:text-2xl prose-h1:leading-normal md:prose-h1:text-3xl md:prose-h1:leading-snug xl:prose-h1:text-4xl xl:prose-h1:leading-snug
    prose-h2:text-xl prose-h2:font-bold md:prose-h2:text-2xl 
    prose-a:underline prose-a:underline-offset-2 prose-a:decoration-neutral-medium hover:prose-a:decoration-primary 
    prose-blockquote:not-italic 
    prose-hr:border-dashed
    ">

        {{content | safe }}
    
    </div>

</article>

<aside id="subscribe" class="
    my-10 py-6 sm:px-8 md:mt-20 md:px-16 md:py-10 
    sm:bg-neutral-weakest 
    border-t-4 border-neutral-weak 
    sm:rounded-sm
    ">
    <h3 class="font-serif text-xl md:text-2xl font-bold">Makers Newsletter</h3>
    <p class="mt-4">Keep in the loop and subscribe to our <b>15-minute newsletter</b> on maximizing outcomes for product designers, engineers, and managers.</p>
    <form action="https://xyz.us11.list-manage.com/subscribe/post?u=6dc0c39e37a97ab5a03b51343&amp;id=5c2e4bb0d0" method="post" class="mt-6 max-w-lg flex flex-nowrap justify-center items-center">
        <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Type your email..." required class="form-input flex-1 px-3 py-2 text-neutral-strong bg-neutral border-2 border-r-0 border-neutral-strong focus:border-neutral-strong focus:ring-0 rounded-l-sm">
        <button type="submit" name="subscribe" class="flex-none px-4 py-2 font-semibold text-neutral bg-neutral-strong border-2 border-l-0 border-neutral-strong rounded-r-sm">
            Subscribe
        </button>
    </form>
    <p class="mt-4 text-sm text-neutral-medium">
        Sent every Sunday morning by <a href="https://helloraz.com" target="_blank" class="underline underline-offset-2 font-semibold hover:decoration-primary">Raz Tirboaca</a>
    </p>
</aside>