---
layout: base
---

<article class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl lg:max-w-4xl mt-8 md:mt-20 px-6 sm:px-0">

    <header class="lg:text-center">
        <h1 class="font-serif text-heading-lg">{{ title }}</h1>
        <div class="mt-5 text-caption text-neutral-medium">
            <time datetime="{{ date | dateToISO }}" pubdate="pubdate">{{ date | readableDate('dd LLL yyyy') }}</time>
            <address class="inline ml-5"><a rel="author" href="https://helloraz.com" target="_blank" class="not-italic">Raz Tirboaca</a></address>
        </div>
        <hr class="mt-6 md:mt-8 w-12 border-t-2 border-neutral-weak lg:mx-auto">
    </header>

    <div class="
        mx-auto mt-8 lg:mt-12 max-w-2xl 
        prose prose-neutral 
        prose-h2:text-heading 
        prose-p:text-body 
        prose-ul:text-body 
        prose-ol:text-body 
        prose-a:underline prose-a:underline-offset-2 prose-a:decoration-neutral-medium hover:prose-a:decoration-primary 
        prose-blockquote:not-italic 
        prose-hr:border-dashed 
        prose-img:rounded dark:prose-img:opacity-80  
        prose-figcaption:mt-2 prose-figcaption:px-3 prose-figcaption:text-center 
        ">

        {{content | safe }}
        
        <hr>
    </div>

</article>

<aside id="subscribe" class="mx-auto max-w-lg sm:max-w-xl md:max-w-2xl mt-20 md:mt-28 px-6 sm:px-0 text-center">
    <h3 class="font-serif text-heading-md">Don’t miss the next edition</h3>
    <p class="mt-2 text-neutral-medium">Join our community of over 600 makers. Highly relevant for product managers, designers, writers, and engineers.</p>
    <form action="https://xyz.us11.list-manage.com/subscribe/post?u=6dc0c39e37a97ab5a03b51343&amp;id=5c2e4bb0d0" method="post" class="mt-4 md:mt-6 w-full max-w-lg inline-flex flex-nowrap gap-1">
        <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Type your email..." required class="flex-1 px-4 py-2 text-[16px] text-neutral-strong bg-neutral border border-neutral-weak focus:border-neutral-strong focus:outline-none focus:ring-0 rounded">
        <button type="submit" name="subscribe" class="flex-none px-4 py-2 font-medium text-neutral bg-neutral-strong border border-neutral-strong rounded transition hover:text-neutral-strong hover:bg-transparent">
            Subscribe
        </button>
    </form>
</aside>