@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-neutral: hsl(0deg 0% 100%);
        --color-neutral-weakest: hsl(240deg 11% 96%);
        --color-neutral-weak: hsl(240deg 11% 88%);
        --color-neutral-medium: hsl(240deg 8% 44%);
        --color-neutral-strong: hsl(240deg 3% 12%);
        --color-primary: hsl(347deg 77% 50%);
        --color-accent: hsl(40deg 100% 48%);
        --color-accent-weak: hsl(31deg 100% 54%);
        --color-accent-strong: hsl(50, 100%, 60%);
        --text-caption-fs: .8rem;
        --text-caption-lh: 1.5;
        --text-body-fs: 0.938rem;
        --text-body-lh: 1.6;
        --text-lead-fs: 1.172rem;
        --text-lead-lh: 1.45;
        --text-heading-fs: 1.172rem;
        --text-heading-lh: 1.3;
        --text-heading-ls: auto;
        --text-heading-md-fs: 1.465rem;
        --text-heading-md-lh: 1.3;
        --text-heading-md-ls: auto;
        --text-heading-lg-fs: 1.465rem;
        --text-heading-lg-lh: 1.3;
        --text-heading-lg-ls: auto;
        --text-display-fs: 2.289rem;
        --text-display-lh: 1.25;
        --text-display-ls: auto;
    }

    @media (prefers-color-scheme: dark) {
        :root {
          --color-neutral: hsl(240deg 11% 10%);
          --color-neutral-weakest: hsl(240deg 11% 14%);
          --color-neutral-weak: hsl(240deg 12% 21%);
          --color-neutral-medium: hsl(240deg 6% 56%);
          --color-neutral-strong: hsl(240deg 3% 97%);
        }
    }

    @media screen(md) {
        :root {
            --text-body-fs: 1rem;
            --text-body-lh: 1.55;
            --text-lead-fs: 1.25rem;
            --text-lead-lh: 1.44;
            --text-heading-fs: 1.25rem;
            --text-heading-lh: 1.3;
            --text-heading-md-fs: 1.56rem;
            --text-heading-md-lh: 1.3;
            --text-heading-lg-fs: 2.44rem;
            --text-heading-lg-lh: 1.2;
            --text-display-fs: 3.05rem;
            --text-display-lh: 1.2;
        }
    }

    summary {
        list-style: none
    }
    summary::marker,
    summary::-webkit-details-marker {
        display:none;
    }
}