@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-neutral: hsl(0deg 0% 100%);
        --color-neutral-weakest: hsl(228deg 15% 97%);
        --color-neutral-weak: hsl(228deg 15% 92%);
        --color-neutral-medium: hsl(228deg 8% 50%);
        --color-neutral-strong: hsl(228deg 8% 12%);
        --color-primary: hsl(347deg 77% 50%);
        --color-accent: hsl(40deg 100% 48%);
        --color-accent-weak: hsl(31deg 100% 54%);
        --color-accent-strong: hsl(50, 100%, 60%);
        --text-caption-fs: .8rem;
        --text-caption-lh: 1.5;
        --text-body-fs: 1rem;
        --text-body-lh: 1.6;
        --text-lead-fs: 1.25rem;
        --text-lead-lh: 1.45;
        --text-heading-fs: 1.25rem;
        --text-heading-lh: 1.3;
        --text-heading-md-fs: 1.25rem;
        --text-heading-md-lh: 1.3;
        --text-heading-lg-fs: 1.56rem;
        --text-heading-lg-lh: 1.3;
        --text-display-fs: 1.969rem;;
        --text-display-lh: 1.1;
        --text-display-ls: -.02em;
        --text-display-lg-fs: 3.052rem;
        --text-display-lg-lh: 1.05;
        --text-display-lg-ls: -.02em;
    }

    @media (prefers-color-scheme: dark) {
        :root {
          --color-neutral: hsl(228deg 15% 8%);
          --color-neutral-weakest: hsl(228deg 15% 11%);
          --color-neutral-weak: hsl(228deg 15% 16%);
          --color-neutral-medium: hsl(228deg 8% 56%);
          --color-neutral-strong: hsl(228deg 10% 96%);
        }
    }

    @media screen(md) {
        :root {
            --text-caption-fs: .85rem;
            --text-caption-lh: 1.5;
            --text-heading-lg-fs: 2.197rem;
            --text-heading-lg-lh: 1.2;
            --text-display-fs: 2.747rem;
            --text-display-lh: 1.05;
            --text-display-lg-fs: 3.552rem;
            --text-display-lg-lh: 1.05;
        }
    }

    @media screen(lg) {
        :root {
            --text-body-fs: 1.125rem;
            --text-body-lh: 1.55;
            --text-lead-fs: 1.324rem;
            --text-lead-lh: 1.44;
            --text-heading-fs: 1.406rem;
            --text-heading-lh: 1.3;
            --text-heading-md-fs: 1.758rem;
            --text-heading-md-lh: 1.25;
            --text-display-fs: 3.552rem;
            --text-display-lh: 1;
            --text-display-lg-fs: 4.735rem;
            --text-display-lg-lh: 1;
        }
    }

    @media screen(xl) {
        :root {
            --text-lead-fs: 1.406rem;
            --text-lead-lh: 1.44;
            --text-display-lg-fs: 5.215rem;
            --text-display-lg-lh: 1;
        }
    }
}