@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-neutral: hsl(0deg 0% 100%);
        --color-neutral-weakest: hsl(211deg 12% 97%);
        --color-neutral-weak: hsl(211deg 34% 92%);
        --color-neutral-medium: hsl(211deg 12% 58%);
        --color-neutral-strong: hsl(211deg 8% 22%);
        --color-primary: hsl(347deg 77% 50%);
        --text-caption-fs: .8rem;
        --text-caption-lh: 1rem;
        --text-body-fs: 1rem;
        --text-body-lh: 1.6;
        --text-lead-fs: 1.25rem;
        --text-lead-lh: 1.45;
        --text-heading-fs: 1.25rem;
        --text-heading-lh: 1.3;
        --text-heading-md-fs: 1.25rem;
        --text-heading-md-lh: 1.3;
        --text-heading-lg-fs: 1.56rem;
        --text-heading-lg-lh: 1.3;
        --text-display-fs: 1.75rem;;
        --text-display-lh: 1.3;
    }

    @media (prefers-color-scheme: dark) {
        :root {
          --color-neutral: hsl(211deg 20% 8%);
          --color-neutral-weakest: hsl(211deg 20% 11%);
          --color-neutral-weak: hsl(211deg 20% 15%);
          --color-neutral-medium: hsl(211deg 6% 46%);
          --color-neutral-strong: hsl(211deg 12% 86%);
          --color-primary: hsl(347deg 77% 44%);
        }
    }

    @media screen(sm) {
        :root {
            --text-lead-fs: 1.324rem;
            --text-lead-lh: 1.44;
            --text-display-fs: 1.969rem;
            --text-display-lh: 1.25;
        }
    }

    @media screen(md) {
        :root {
            --text-body-fs: 1.125rem;
            --text-body-lh: 1.6;
            --text-lead-fs: 1.406rem;
            --text-lead-lh: 1.44;
            --text-heading-fs: 1.406rem;
            --text-heading-lh: 1.3;
            --text-heading-md-fs: 1.758rem;
            --text-heading-md-lh: 1.3;
            --text-heading-lg-fs: 2.197rem;
            --text-heading-lg-lh: 1.25;
            --text-display-fs: 2.747rem;
            --text-display-lh: 1.25;
        }
    }

    html {
        font-variation-settings: "LXND" 10;
    }
}