---
import MakersLogo from "./MakersLogo.astro"
---

<footer
  class="mx-auto max-w-3xl border-t border-neutral-800/10 px-6 py-12 dark:border-neutral-800 sm:px-8">
  <p class="flex items-center gap-2 text-sm text-neutral-500">
    <MakersLogo size="w-5" />
    <b class="font-bold">Makers Mansion</b> - Based in sunny Barcelona
  </p>
</footer>
