---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"a"> {
  variant?: "primary" | "neutral" | "secondary"
  size?: "base" | "lg"
  text: string
  ariaLabel?: string
  class?: string
}

const {
  variant = "neutral",
  size = "base",
  href,
  ariaLabel,
  text,
  class: className,
  ...attrs
} = Astro.props

const variants = {
  primary:
    "text-neutral-50 bg-primary-500 hover:bg-primary-400 before:absolute before:inset-0 before:-z-10 before:rounded-full before:shadow-sm dark:before:content-none",
  neutral:
    "text-neutral-50 bg-neutral-900 hover:bg-neutral-800 before:absolute before:inset-0 before:-z-10 before:rounded-full before:shadow-sm   dark:before:content-none dark:bg-neutral-50 dark:text-neutral-950 dark:hover:bg-neutral-300",
  secondary:
    "bg-neutral-900/5 hover:bg-neutral-900/10 dark:bg-neutral-100/5 dark:hover:bg-neutral-100/10",
}

const sizes = {
  base: "px-4 py-2 text-sm",
  lg: "px-6 py-4 md:text-lg",
}
---

<a
  {...attrs}
  {href}
  class:list={[
    "group relative isolate inline-flex items-center justify-center gap-1.5 rounded-full font-semibold transition-colors focus:outline-none focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-inherit",
    variants[variant],
    sizes[size],
    className,
  ]}
  aria-label={ariaLabel || text}>
  <slot name="icon-start" />
  {text}
  <slot name="icon-end" />
</a>
