---
import type { HTMLAttributes } from "astro/types"

interface Props extends HTMLAttributes<"a"> {
  variant?: "primary" | "neutral" | "secondary"
  size?: "base" | "lg"
  text: string
  ariaLabel?: string
  class?: string
}

const {
  variant = "neutral",
  size = "base",
  href,
  ariaLabel,
  text,
  class: className,
  ...attrs
} = Astro.props

const variants = {
  primary:
    "text-white bg-primary-500 hover:bg-primary-400 before:absolute before:inset-0 before:-z-10 before:rounded before:shadow-sm before:shadow-neutral-800/5 dark:before:content-none",
  neutral:
    "bg-neutral-800/20 before:absolute before:inset-0 before:-z-10 before:rounded-sm before:bg-white before:shadow-sm before:shadow-neutral-800/5 before:hover:bg-neutral-50 dark:before:content-none dark:bg-neutral-100/20 dark:hover:bg-neutral-100/30",
  secondary:
    "bg-neutral-900/10 hover:bg-neutral-900/15 dark:bg-neutral-100/5 dark:hover:bg-neutral-100/10",
}

const sizes = {
  base: "px-3 py-2 text-sm",
  lg: "px-5 py-4 md:text-lg",
}
---

<a
  {...attrs}
  {href}
  class:list={[
    "group relative isolate inline-flex items-center justify-center gap-1.5 rounded border border-transparent font-medium transition-colors focus:outline-none focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-inherit",
    variants[variant],
    sizes[size],
    className,
  ]}
  aria-label={ariaLabel || text}>
  <slot name="icon-start" />
  {text}
  <slot name="icon-end" />
</a>
