---
import { Icon } from "astro-icon/components"
import type { SocialLink } from "~/data/site-info.js"

export type Props = {
  links: SocialLink[]
}

const { links } = Astro.props
---

{
  links.map((link) => (
    <a
      href={link.href}
      target="_blank"
      class="inline-flex items-center p-3 text-neutral-500 transition-colors hover:text-inherit">
      <span class="sr-only">{link.text}</span>
      <Icon name={link.icon} class="size-5" aria-hidden="true" />
    </a>
  ))
}
