---
import { getCollection } from "astro:content"
import Layout from "~/layouts/Base.astro"
import NewsletterEditionPreview from "~/components/NewsletterEditionPreview.astro"

const title = "Newsletter"
const description =
  "Join 600+ makers and get a weekly summary of the best resources to move things forward. Highly relevant for product managers, designers, and engineers."

const newsletter = await getCollection("newsletter")
const editions = newsletter.sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
)
---

<Layout title={title}>
  <section class="mx-auto max-w-3xl px-6 py-20 sm:px-8">
    <h1 class="text-2xl font-bold tracking-tight sm:text-4xl">Makers Newsletter</h1>
    <p class="mt-2 text-lg/tight text-neutral-700 [text-wrap:pretty] sm:mt-3 dark:text-neutral-400">
      Join 600+ makers and get a weekly summary of the best resources to move things forward. Highly
      relevant for product managers, designers, and engineers.
    </p>
    <div class="mt-8 space-y-2">
      {editions.map((edition) => <NewsletterEditionPreview edition={edition} />)}
    </div>
  </section>
</Layout>
