---json
{
    "permalink": "feed.xml",
    "eleventyExcludeFromCollections": true,
    "metadata": {
        "title": "Makers Mansion",
        "subtitle": "The 15-minutes newsletter on maximizing outcomes for product designers, engineers, and managers. Sent every Sunday morning",
        "url": "https://makersmansion.xyz/",
        "feedUrl": "https://makersmansion.xyz/feed.xml",
        "author": {
            "name": "Raz Tirboaca",
            "email": "razvan.tirboaca@gmail.com"
        },
        "image": {
            "url": "https://makersmansion.xyz/assets/images/favicon/android-chrome-512x512.png"
        }
    }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link href="{{ metadata.feedUrl }}" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.weekly | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    <image>
        <url>{{ metadata.image.url }}</url>
        <title>{{ metadata.title }}</title>
        <link>{{ metadata.url }}</link>
        <description>{{ metadata.subtitle }}</description>
    </image>
    {%- for week in collections.weekly %}
    {% set absolutePostUrl %}{{ week.url | url | absoluteUrl(metadata.url) }}{% endset %}
    <entry>
        <title>{{ week.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ week.date | dateToRfc3339 }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html">{{ week.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
    {%- endfor %}
</feed>