---
layout: base
title: Successfully subscribed
description: You've successfully subscribed to Makers Weekly.
---

<h1 class="font-serif text-2xl md:text-3xl font-bold">🎉 Successfully subscribed</h1>
<p class="mt-6">You'll receive the weekly every Sunday morning just in time for the ☕️</p>
<p class="mt-6">Have a great week ahead,<br>Raz</p>
<p class="mt-12">
    <a href="{{ site.url }}" class="inline-flex gap-3 items-center px-4 py-2 font-semibold bg-neutral-strong border border-neutral-strong text-neutral rounded-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z" clip-rule="evenodd" />
        </svg>
        Back to the weeklies
    </a>
</p>