---
layout: base
title: Successfully subscribed
description: You've successfully subscribed to Makers Weekly.
---
<section class="mx-auto max-w-xl px-6 pt-20 pb-8 sm:px-8 md:pt-32 md:pb-16 lg:px-0 sm:text-center">
    <h1 class="font-serif text-display">Welcome to the Masion!</h1>
    <p class="mt-2 text-xl md:text-2xl">You subscribed successfully, maker. Watch your inbox every Sunday, just in time for ☕️</p>
    <p class="mt-12 text-xl md:text-2xl">
        <a href="https://makersmansion.xyz" class="inline-flex items-center gap-2 font-bold underline underline-offset-2 decoration-neutral-medium hover:decoration-primary">
            Read the latest weekly
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" fill="none" class="w-5 h-5">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H4.75"></path>
            </svg>
        </a>
    </p>
</section>